node_modules
dist
package-lock.json
logs
npm-debug.log
LUCAS/data/*
LUCAS/notebooks/data/
*.ipynb_checkpoints/
*__pycache__
*.pytest_cache
.vscode
wordvec
*.npy
*.kv
.env
*.h5
models
LUCAS/notebooks/data.json
LUCAS/app/db/credentials.py
jobs

