@charset "utf-8";
$family-sans-serif: "Proxima Nova", sans-serif;
@import "~bulma/bulma";
@import "./helpers";


body, .hero{
  min-height: 100vh;
}

.hero-body {
  padding-top: 0px !important;
}

.main-title-container {
  padding-bottom: 20px;
}

.main-fakereview-container {
  padding: 0 30vw 0 30vw;
};

.main-fakereview-textarea {
  padding-bottom: 10px;
  transition: height 0.2s ease;
  max-height: 100% !important;
  min-height: 50px !important;
  overflow: hidden;
};

.textarea--ghost {
  height: auto !important;
  max-height: 100% !important;
  min-height: 50px !important;
  white-space: pre-wrap;
  word-wrap: break-word;
  visibility: hidden;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}