@charset "utf-8";
$family-sans-serif: "Proxima Nova", sans-serif;
@import "~bulma/bulma";
@import "./loader";
@import "./helpers";


body, .hero{
  min-height: 100vh;
}

.hero-body {
  padding-top: 0px !important;
}

.main-fakereview-textarea {
  padding-bottom: 10px;
  transition: height 0.2s ease;
  max-height: 100% !important;
  min-height: 50px !important;
  overflow: hidden;
};

.textarea--ghost {
  height: auto !important;
  max-height: 100% !important;
  min-height: 50px !important;
  white-space: pre-wrap;
  word-wrap: break-word;
  visibility: hidden;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.results-review-text {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.main-title {
  font-weight: bold;
  background-color: lightgrey;
  font-size: 7rem;
  font-family: 'Playfair Display', serif;
  border-radius: 90px;
}

.header-title {
  font-weight: bold;
  background-color: lightgrey;
  font-family: 'Playfair Display', serif;
  border-radius: 90px;
  padding: 0 30px 0 30px;
  margin: 5px 0 5px 0;
}

.single-review-button {
  text-decoration: underline;
  color: darkgray;
  font: 0.5em;
}

.slick-next {
  background-color: grey !important;
  border-radius: 90px !important;
}
.slick-prev {
  background-color: grey !important;
  border-radius: 90px !important;
}

.logo {
  width: 128px;
}

.review {
    font-family: 'Playfair Display', serif;
}